@import "abstracts/variables";
@import "abstracts/fonts";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100%;
    padding-top: 1rem;
    min-height: 100vh;
    font-family: $font-roboto;
    color: $color-darkgray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 45rem;
    gap: 0.8rem;
}

.title {
    font-size: 1.5em;
    letter-spacing: 0.06em;
    text-align: center;
}

.textarea {
    height: 14rem;
    padding: 0.3rem;
    resize: none;
    outline: 2px solid $color-bg-keys-dark;
    font-size: 1.5em;
    color: $color-darkgray;
}

.keyboard {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 0.6em;

    &__line {
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__key {
        min-width: 40px;
        background: $color-bg-keys-primary;
        border-radius: 0.15rem;
        line-height: 40px;
        text-align: center;
        font-size: 1em;
        color: $color-keys;
        padding: 0 10px 0 10px;
        cursor: pointer;
        transition: all 0.1s;

        &:hover {
            background-color: $color-active;
        }
    }

    .key-letter {
        width: 40px;
    }

    &__colored {
        background: $color-bg-keys-dark;
    }

    &__active {
        border-radius: 20px;
        background-color: $color-active;
    }

    .Space {
        width: 20.3rem;
    }

    .ShiftLeft {
        width: 6.7rem;
    }

    .ShiftRight {
        padding: 0;
    }

    .Enter {
        width: 6.2rem;
    }

    .Backspace {
        width: 6.5rem;
    }

    .Delete {
        width: 3.3rem;
    }
}

.specification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
